*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html
{
    font-size: 62.5%;
}

.header h1
{
    font-size: 4rem;
    color: deeppink;
    font-family: tahoma;
    text-align: center;
    border: 0.1rem solid #DDD;
    width: 70%;
    margin: auto;
}

.container
{
    font-size: 1.8rem;
    color: deeppink;
    font-family: tahoma;
    text-align: center;
    border: 0.1rem solid #DDD;
    width: 70%;
    margin: auto;
}