*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html
{
    font-size: 62.5%;
}

.header
{
    background-color: #33a;
    box-shadow: 0rem 0.2rem 2rem 0rem rgba(0, 0, 0, 0.5);
    font-size: 4rem;
    color: white;
    font-weight: bold;
    font-family: tahoma;
    text-align: left;
    border: 0.1rem solid #DDD;
    width: 70%;
    margin: auto;
    padding: 0.5rem;
}

.header span
{
    margin: 0;
    font-weight: normal;
    font-size: 2rem;
}

.container
{
    font-size: 1.8rem;
    color: deeppink;
    font-family: tahoma;
    text-align: left;
    border: 0.1rem solid #DDD;
    width: 70%;
    margin: auto;
}